.chats {
    display: flex;
    // border: 1px solid red;

    &__dialogs {
        width: 230px;
        // border: 1px solid green;
    }

    &__dialog-item {
        display: flex;
        align-items: center;
        // border: 1px solid red;
        padding: 7px 10px;

        &:hover {
            cursor: pointer;
            background-color: $white;
            border-radius: 5px;
        }

        &--active {
            background-color: $blue-dark;
            border-radius: 5px;
            color: $white;

            &:hover {
                background-color: $blue-dark;
                color: $white;
                border-radius: 5px;
            }
        }
    }

    &__dialog-photo {
        margin-right: 10px;
    }

    &__dialog-name {
        font-size: 12px;
        font-weight: bold;
    }

    &__dialog-text {
        font-size: 12px;
    }

    &__messages {
        margin-left: 40px;
    }

    &__message-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    &__message-photo {
        margin-right: 15px;
    }

    &__message-photo img {
        width: 30px;
        height: 30px;

    }

    &__message-content {
        display: flex;
        justify-content: space-between;
        min-width: 200px;
        background-color: $white;
        padding: 10px;
        border-radius: 5px;
    }

    &__message-time {
        opacity: .22;
        margin-left: 20px;
    }

    &__message-input {
        border: 1px solid $grey-edit-span;
        padding: 10px 15px;
        border-radius: 5px;
        min-width: 300px;
        margin-right: 30px;
    }

    &__message-btn {
        width: 100px;
        padding: 5px 0;
        color: $white;
        background-color: $btn;
        border: none;
        border-radius: 2px;

        &:hover {
            cursor: pointer;
            background-color: $btn-hover;

        }
    }
}