.chats {
    &__message-btn {
        width: 100px;
        padding: 5px 0;
        color: $white;
        background-color: $btn;
        border: none;
        border-radius: 2px;

        &:hover {
            cursor: pointer;
            background-color: $btn-hover;

        }
    }
}