$black: #232323;
$white: #fff;
$grey: #D5D5D6;
$span-bg: #FAFBFC;
$grey-edit-span: #DDDDDD;
$background: #EEEFF0;
$blue-dark: #4A76A8;
$red: #FF3636;
$blue-gray: #5D748A;
$link-hover: #DCE1DD;
$btn: #5181B8;
$btn-hover: #6A98CC;
$blue-text: #2A5885;
$like: #FF5C5C;

$oswald: 'Oswald',
sans-serif;
$roboto: 'Roboto',
sans-serif;