$black: #232323;
$white: #fff;
$grey: #d5d5d6;
$span-bg: #fafbfc;
$grey-edit-span: #dddddd;
$background: #eeeff0;
$blue-dark: #4a76a8;
$red: #ff3636;
$blue-gray: #5d748a;
$link-hover: #dce1dd;
$btn: #5181b8;
$btn-hover: #6a98cc;
$blue-text: #2a5885;
$like: #ff5c5c;

$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;
