@import 'variables';
@import 'normalize';
@import 'component/all';

body {
  background-color: $background;
  font-family: $roboto;
}

// Remove the page shift to the left when the scrollbar appears
html {
  overflow-y: scroll;
}

.content__wrapper--profile {
  height: auto;
}
